/*color trials f5f5f5 light cream*/
h1, h2 {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    /*round the edges*/
    border-radius: 10px;
    
}


h1 {
    font-size: 50px;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background-color: #f5f5f5;

}

h2 {
    font-size: 24px;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    text-align: center;
    font-style: italic;
}



/* Accessibility features for navigation */
.skip-link {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip-link:focus {
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    overflow: visible;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #000;
    z-index: 1000;
}

/* Styling the navigation bar */
nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding: 10px 0;
    background-color: #f5f5f5;
    list-style: none;
    
}

nav ul li a.active, nav ul li a:hover {
    font-weight: bold;
    text-decoration: underline;
    background-color: #666;
    background-color: #f5f5f5;
}

nav a {
    color: black;
    padding: 10px;
    display: block;
    text-decoration: none;
}

/* Main content styling */
main {
    padding: 20px;
    display: grid;
    grid-gap: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



/* Base styles for typography and layout */
body, p {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;

}

h1, h2 {
    font-family: 'Merriweather', serif;
    color: #333;
}

h1 {
    font-size: 48px; /* Slightly adjusted for better scaling */
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    font-weight: 700; /* Using the bold weight */
}

h2 {
    font-size: 32px;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: 400; /* Normal weight for a softer look */
}


p {
    font-size: 18px; 
    text-align: center;

    color: #00274C;
}




.usage-instructions {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gpa-finding-instructions {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Applies Flexbox to the .grid-container to layout its children side by side */
.grid-container {
    display: flex; /* Enables Flexbox */
    justify-content: space-between; /* Distributes space between and around content items */
    align-items: stretch; /* Stretches the items to fill the container */
    flex-wrap: wrap; /* Allows items to wrap as needed */
}


.grid-container div {
    flex-basis: 48%; /* Each child div will take up roughly half the container's width, allowing for some margin */
    display: flex; /* Enables Flexbox within each child div */
    flex-direction: column; /* Stacks the content of the child divs vertically */
    align-items: center; /* Centers items horizontally */
}


.grid-container div:nth-child(3) {
    /* add a margin to the top of the third div */
    margin-top: 20px;
    flex-basis: 100%; /* Makes the div take the full width */
    order: 3; /* Ensures it stays as the last item if using flex-wrap */
    text-align: center; /* Optionally centers the text */
}



.grid-container img {
    width: 100%; /* Ensures the image fills the width of its parent div */
    height: auto; /* Adapts the height to maintain the image's aspect ratio */
    max-height: 200px; /* Restricts the images to a maximum height */
    object-fit: contain; /* Ensures the whole image is visible, might introduce blank space around the image */
}

.image-container {
    display: flex; 
}


.usage-instructions p,
.gpa-finding-instructions p,
.gpa-scale-section p {
    background-color: #ffffff; 
}



.gpa-scale-section{
    background-color: #ffffff;
}

.gpa-scale-section img {

    width: auto; /* Allows the image to scale based on max-width */
    max-width: 300px; /* Reduced max-width for a smaller image */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Needed to apply auto margins */
    margin: 20px auto; /* Centers the image with some vertical space */
}

.gpa-scale-section img {

    width: auto; /* Allows the image to scale based on max-width */
    max-width: 300px; /* Reduced max-width for a smaller image */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Needed to apply auto margins */
    margin: 20px auto; /* Centers the image with some vertical space */
}



fieldset {
    max-width: 600px; /* Adjust as needed to suit your design */
    margin: 0 auto; /* Centers the fieldset within its parent */
    padding: 20px; 
    border: 1px solid #ccc; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 

}


/* Targeting the fieldset within the form specifically */
#gpaForm fieldset {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ffffff;

}

/* Styling labels for better readability */
#gpaForm label {
    font-family: 'Arial', sans-serif;
    margin-top: 15px;
    display: block; /* Ensures the label is on a new line */
    color: #333;
    font-size: 14px;
    text-align: center;

}

/* Enhancing input fields */
#gpaForm input[type='number'],
#gpaForm input[type='text'] {
    width: 50%; /* Adjusting width to include padding */
    padding: 10px 12px; 
    margin-top: 5px; 
    border-radius: 5px; /* Rounded corners */
    border: 1px solid #ccc;
    font-size: 16px; /* Making the text a bit larger */
    box-sizing: border-box; 

    display: block;
    margin: 0 auto;
    

}

/* Styling the submit button */
#gpaForm input[type='submit'] {
    font-family: 'Open Sans', sans-serif;
    background-color: #00274C; /* Michigan blue */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* Larger text for the button */
    transition: background-color 0.3s; /* Smooth transition for hover */
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

/* Hover effect for the submit button */
#gpaForm input[type='submit']:hover {
    background-color: #003366; 
}



h1 {
    font-family: 'Georgia', serif; /* Changes font of h1 */
    color: #00274C; 
    font-size: 2em; /* Adjust based on your design preference */
}

.calculator-heading {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Vertically center the items */
    justify-content: center; /* Center the container's contents */
    text-align: center;
    width: 100%; /* Ensure the container takes full width of its parent */
    margin-bottom: 20px; 
}

.calculator-heading h2 {
    margin-right: 20px; 
}

.umich-logo {
    height: 30px; 
}

#gpaResult {
    text-align: center; 
    padding: 20px 0; 
    font-size: 18px; 
    color: #00274C; 
    margin-top: 20px; 
}




/*about me*/
.profile-pic-container {
    display: flex;
    margin: 20px auto; /* Centers the container itself and adds vertical margin */
    position: relative;
    width: 200px; /* Set a specific size for the container */
    height: 200px; /* Ensure this matches the width for a circle */
    overflow: hidden; /* Ensures nothing spills outside the container */
    border-radius: 50%; /* Rounds the corners to form a circle */
}


.profile-pic {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: opacity 0.5s ease-in-out;
    backface-visibility: hidden;
    object-fit: cover; /* This line ensures the image covers the area without distortion */
}


.front-face {
    opacity: 1;
}

.back-face {
    opacity: 0;
}

.profile-pic-container:hover .front-face {
    opacity: 0;
}

.profile-pic-container:hover .back-face {
    opacity: 1;
}


.contact-info {
    text-align: center; /* Centers the text and the container with the buttons */
}

.contact-buttons {
    display: flex; 
    justify-content: center; /* Centers the buttons horizontally */
    gap: 20px; /* Adds space between the buttons */
    padding: 20px 0; /* Adds vertical padding around the buttons */
}

.contact-icon {
    width: 40px; /* Sets a standard width for the icons */
    height: auto; /* Maintains the aspect ratio */
    transition: transform 0.3s ease; /* Smooth scaling effect on hover */
}

.contact-icon:hover {
    transform: scale(1.1);
}

.about-me p {
    text-align: center;
}

footer p {
    font-family: 'Brush Script MT', cursive; 
    text-align: left;
    margin-left: 10px;
}
